@model Models.ClassRoomModel
@{
    string Message = ViewBag.Message;
}
@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert alert-danger">
        <span>Insert Has an Error </span>
        <br />
        @Message
    </div>
}
<form action="\ClassRoom\Create" method="post" asp-antiforgery="true" >
    <input type="hidden" asp-for="SchoolId" />
    <div class="row col-md-12">
        <div class="form-group col-md-3">
            <label class="lable">
                Class Name
                <input type="text" class="form-control" asp-for="Name" autocomplete="off" placeholder="Please Enter Name" />
            </label>
        </div>
        <div class="form-group col-md-3">
            <label class="lable">
                Age Range
                <input type="number" class="form-control" asp-for="AgeRange" autocomplete="off" />
            </label>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-sm alert-primary btn-primary btn1234" style="margin-top:29px"> save</button>
        </div>
    </div>
</form>