@model Models.SchoolModel
@{
    string Message = ViewBag.Message;
}
@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert alert-danger">
        <span>Insert Has an Error </span>
        <br />
        @Message
    </div>
}
<form action="\School\Create" method="post" asp-antiforgery="true" >
    <div class="row col-md-12">
        <div class="form-group col-md-3">
            <label class="lable">
                School Name
                <input type="text" class="form-control" name="Model.Name" value="@Model.Name" autocomplete="off" placeholder="Please Enter Name" />
            </label>
        </div>
        <div class="form-group col-md-3">
            <label class="lable">
                Phone Number
                <input type="tel" class="form-control" name="Model.PhoneNumber" value="@Model.PhoneNumber" autocomplete="off" placeholder="Please Enter +98...."/>
            </label>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-sm alert-primary btn-primary btn1234" style="margin-top:29px"> save</button>
        </div>
    </div>
</form>